main {
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
}

body {
    background-color: #70a288;
}

img {
    padding: 10px 10px 5px 10px;
}

header {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: 50px;
    align-items: center;
    justify-items: center;
}

p {
    color: #70a288;
}

#title1 {
    border: 2px solid black ;
    grid-column: 1/3;
    color: #daa49a;
    background-color: #3e5622;
}

div {
    border: 2px solid black ;
    background-color: #46237a;
}

#last-block {
    display: flex;
    grid-column: 1/3;
}


footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-gap: 50px;
    align-items: center;
    justify-items: center;
}